{% extends "base.html" %}

{% block title %}
<title>Sezer Turizm</title>
{% endblock %}


{% block content %}


<section id="events-section" class="py-4 text-center">
<!-- Section Titles -->
{% for title in SectionTitles %}
    {% if title.section_identifier == 'events' %}
        <div class="text-center">
            <h2 class="section-title" style="text-transform: uppercase;">{{ title.title }}</h2>
            <p class="section-subtitle">{{ title.subtitle }}</p>
        </div>
    {% endif %}
{% endfor %}

<!-- Swiper -->
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for event in AllEvents %}
        <div class="swiper-slide">
            <div class="card carousel-card">
                <img src="{{ event.symbolic_image_url }}" class="card-img-top carousel-image" alt="{{ event.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>

<!-- Styles -->
<style>
    .section-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
    
      .section-subtitle {
        font-size: 1.25rem;
        margin-bottom: 2rem;
      }
    
      .carousel-image {
        width: 100%;
        height: 200px; /* Fixed height for all images */
        object-fit: cover; /* Cover the card area without stretching */
        transition: transform 0.5s ease;
      }
    
      .carousel-image:hover {
        transform: scale(1.05);
      }
    
      .carousel-card {
        margin: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
      }
    
      .carousel-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    
      .swiper-slide {
        width: auto; /* This will allow Swiper to control the width */
        height: auto; /* Height should be auto for responsive scaling */
      }
    
      .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
      }
    
      .swiper-pagination-bullet-active {
        background: #007bff;
      }
    
      .mySwiper {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
</style>

<!-- Scripts -->
<script>
    var swiper = new Swiper('.mySwiper', {
        slidesPerView: 4,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          300: { slidesPerView: 1, spaceBetween: 10 },
          600: { slidesPerView: 2, spaceBetween: 20 },
          950: { slidesPerView: 3, spaceBetween: 30 },
          1300: { slidesPerView: 4, spaceBetween: 40 }
        }
      });
</script>
</section>


{% endblock %}